# ------------------------------------------------------------------------------
# 
# ------------------------------------------------------------------------------
data/
assets/


# ------------------------------------------------------------------------------
#  LaTeX
# ------------------------------------------------------------------------------
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# ------------------------------------------------------------------------------
#  Os
# ------------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.swptarget
